p {
  font-size: 1.5em;
}
table {
  border: 4px solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 120px;
  height: 120px;
}
td {
  border: 2px solid;
  overflow: hidden;
  text-align: center;
  width: 40px;
  height: 40px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

table#gol_board {
  border: 2px solid;
  border-collapse: collapse;
  
}

table#gol_board > td {
  border-style: none;
}

td.alive {
  background-color: black;
}

td.dead {
  background-color: white;
}
