
:root {
  color-scheme: light dark;
}

/* Variables */

:root {
  /* Basic formatting */
  --bg-clr-base: light-dark(#f1f1f1, #2f2f2f);
  --text-clr-base: light-dark(#000, #f1f1f1);
  --bg-clr-layered: light-dark(#d7d7d7, #3f3f3f);
  --border-clr: light-dark(#666, #999);

  /* TicTacToe */
  --tictactoe-table-side-size: 120px;
  --tictactoe-table-cell-size: calc(var(--tictactoe-table-side-size) / 3);
}

/* Variables END ******************/

/* Basic formatting */

body {
  background-color: var(--bg-clr-base);
}

body {

  p, button {
    font-size: clamp(1rem, 6vw, 1.5rem);
  }

  button {
    padding: 10px;
  }

  form, fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    margin: 20px;
    border: 4px solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 120px;
    height: 120px;
  }

  td {
    border: 2px solid;
    overflow: hidden;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  nav {
    width: fit-content;
    height: fit-content;
    block-size: fit-content;
    margin: 10px;
    padding: 6px;
    background-color: var(--bg-clr-layered);
    border-radius: 32px;
  }

  nav a {
    padding: 4px;
  }

}

/* Basic formatting END ************/

/* TicTacToe */

.tictactoe-container {
  border: 10px solid var(--border-clr);
}

.tictactoe-board {
  margin: 20px;
  border: 4px outset black;
  // border-style: outset;
  border-collapse: collapse;
  table-layout: fixed;
  width: var(--tictactoe-table-cell-size);
  height: var(--tictactoe-table-cell-size);
  
  td {
    border: 2px dashed darkgray;
    overflow: hidden;
    text-align: center;
    width: var(--tictactoe-table-cell-size);
    height: var(--tictactoe-table-cell-size);;
  }
}

/* Game of Life specific */

table#gol_board {
  border: 1px solid;
  width: auto;
  height: auto;
}

table#gol_board td {
  border: none;
  width: 30px;
  height: 30px;
}

td.alive {
  background-color: black;
}

td.dead {
  background-color: white;
}

/* Markup specific */

#js_4 form input, #js_4 form button {
  margin: 2px;
}

#MU_container {
  display: block;
  outline: 10px solid gray;
}

#MU_container #MU_selected {
  color: lightblue;
  background-color: darkblue;
  opacity: 0.5;
}

#MU_container :hover {
  color: blue;
  background-color: darkblue;
  opacity: 1;
}

#MU_container * {
  width: fit-content;
}

#MU_container *:is(ul,ol) {
  margin: 5px 2px;
  padding: 10px;
  outline: 3px dashed green;
}

/* Sudoku specific */

@property --sudoku-table-size {
  syntax: "<length> | auto";
  inherits: false;
  initial-value: 200px;
}

@property --sudoku-cell-size {
  syntax: "<length> | auto";
  inherits: false;
  initial-value: var(--sudoku-table-size)/9;
}

#js_5 table {
  margin: 20px;
  border: 4px solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: var(--sudoku-table-size);
  height: var(--sudoku-table-size);
}

#js_5 td {
  border: 2px solid;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

#js_5 table td input {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  box-sizing: border-box;
/*   border-collapse: collapse; */
}
/* 
#js_5 table {
  margin: 20px;
  border: 4px solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 120px;
  height: 120px;
}

#js_5 td {
  border: 2px solid;
  overflow: hidden;
  text-align: center;
  width: 40px;
  height: 40px;
}
 */
