
:root {
  color-scheme: light dark;
}

/* Variables */

:root {
  /* Basic formatting */
  --bg-clr-base: light-dark(#f1f1f1, #2f2f2f);
  --text-clr-base: light-dark(#000, #f1f1f1);
  --bg-clr-layered: light-dark(#d7d7d7, #3f3f3f);
  --border-clr: light-dark(#666, #999);

  /* TicTacToe */
  --tictactoe-table-side-size: 120px;
  --tictactoe-table-cell-size: calc(var(--tictactoe-table-side-size) / 3);
}

/* Variables END ******************/

/* Basic formatting */

body {
  background-color: var(--bg-clr-base);
}

body {

  p, button {
    font-size: clamp(1rem, 6vw, 1.5rem);
  }

  button {
    padding: 10px;
  }

  form, fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    width: fit-content;
    height: fit-content;
    block-size: fit-content;
    margin: 10px;
    padding: 6px;
    background-color: var(--bg-clr-layered);
    border-radius: 32px;
  }

  nav a {
    padding: 4px;
  }

}

/* Basic formatting END ************/

/* TicTacToe */

.tictactoe-container {
  border: 10px solid var(--border-clr);
}

.tictactoe-board {
  margin: 20px;
  border: 4px outset black;
  // border-style: outset;
  border-collapse: collapse;
  table-layout: fixed;
  width: var(--tictactoe-table-cell-size);
  height: var(--tictactoe-table-cell-size);
  
  td {
    border: 2px dashed darkgray;
    overflow: hidden;
    text-align: center;
    width: var(--tictactoe-table-cell-size);
    height: var(--tictactoe-table-cell-size);;
  }
}